<% include ../partials/header %>
<% include ../partials/navbar %> 
<% include ../partials/profileJumbotron %> 

<% var defaultPath = "https://images.unsplash.com/photo-1502979932800-33d311b7ce56?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9%0A&s=115e3c47cf8a55cec04b6687357f10a2" %>

<div class="container">
    <div class="row">
        <%user.books.forEach(function(book) {%>
            <div class="col-md-4">
                <div class="card mb-2">
                    <div class="view overlay hm-white-slight">
                        <%if(book.image === undefined ){%>
                            <img class="img-fluid" src="<%= defaultPath %>" alt="Book image">
                        <%} else {%>
                            <img class="img-fluid" src="<%= book.image %>" alt="Book image">
                        <%}%>
                        <a>
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="pull-left">
                                    <h4 class="card-title"><%=book.name%></h4>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="pull-right">
                                    <p id='inline-p'>
                                        <a href="<%=book.link%>" target="_blank">
                                            <i data-toggle="tooltip" data-placement="left" title="User portfolio" class="fa fa-info-circle" aria-hidden="true"></i>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <%})%>
    </div>
</div>

<% include ../partials/footer %>