<div class="jumbotron">
    <div class="text-center">
        <h6 class="display-4">Check out the <em>Shelf</em> Collection</h6>
        <p>
            feel free to request a book trade and an email will be sent to the author
        </p>
    </div>
</div>