<div class="jumbotron">
    <div class="text-center">
        <h6 class="display-4">Check out <em>your</em> Shelf Collection</h6>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <a href="/books/new">
                    <button class="btn btn-primary btn-lg btn-block waves-effect mt-1">Add New Book</button>
                </a>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>