#form-pd {
    padding-top: 10vh;
}

#inline-p {
    display: inline;
}

.error-text {
    margin-left: 45px;
}

.error {
    color: #D50000;
}

.card {
    width: 100%;
    height: 350px;
}

.fa {
    color: #2196F3;
}

.fa:hover {
    color: #1E88E5;
}